# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.sass-cache/
assets/components/ajaxform/
assets/components/bootstrap/
assets/components/collections/.DS_Store
assets/components/collections/js/.DS_Store
assets/components/collections/js/mgr/.DS_Store
assets/components/collections/js/mgr/widgets/.DS_Store
assets/components/minishop2/
assets/components/phpthumbof/.DS_Store
assets/components/tagelementplugin/
assets/images/
assets/templates/bootstrap/
assets/templates/venom/.sass-cache/
assets/templates/venom/css/base.css.map
core/cache/default/
core/cache/includes/elements/modplugin/12.include.cache.php
core/cache/includes/elements/modplugin/6.include.cache.php
core/cache/includes/elements/modsnippet/2.include.cache.php
core/cache/includes/elements/modsnippet/40.include.cache.php
core/cache/includes/elements/modsnippet/41.include.cache.php
core/cache/includes/elements/modsnippet/42.include.cache.php
core/cache/includes/elements/modsnippet/44.include.cache.php
core/cache/includes/elements/modsnippet/45.include.cache.php
core/cache/includes/elements/modsnippet/65.include.cache.php
core/cache/includes/elements/modsnippet/66.include.cache.php
core/cache/includes/elements/modsnippet/67.include.cache.php
core/cache/lexicon_topics/lexicon/en/breadcrumb/
core/cache/lexicon_topics/lexicon/en/formit/properties.cache.php
core/cache/lexicon_topics/lexicon/en/minishop2/
core/cache/lexicon_topics/lexicon/en/wayfinder/
core/cache/lexicon_topics/lexicon/ru/breadcrumb/
core/cache/lexicon_topics/lexicon/ru/formit/properties.cache.php
core/cache/lexicon_topics/lexicon/ru/minishop2/
core/cache/lexicon_topics/lexicon/ru/wayfinder/
core/cache/mgr/smarty/default/2ff8b16dcef334b7dcbfb07bde9394a52054dc05_0.file.create.tpl.php
core/cache/mgr/smarty/default/4dae852e32bcf897310a7db7258ca4b7aa16482b_0.file.template.tpl.php
core/cache/mgr/smarty/default/509e2d4aa9be29260fdc1247c2bfd689894177a3_0.file.settings.tpl.php
core/cache/mgr/smarty/default/6692e4902520a70fcd013f9ab5a1f18b66f91be2_0.file.update.tpl.php
core/cache/mgr/smarty/default/99f81bc21ad7fcc647f81d67fef2ca91df784f83_0.file.home.tpl.php
core/cache/mgr/smarty/default/9f5967ca3c83f7e309276648d028bc1018fe0517_0.file.home.tpl.php
core/cache/mgr/smarty/default/a1f2cec157d0f42fb3b331b71f9b1bc5f97b3f54_0.file.update.tpl.php
core/cache/mgr/smarty/default/afb22672d6d6f68996703ecabf6b544d8b3a9548_0.file.update.tpl.php
core/cache/mgr/smarty/default/d8c4be9847068448d1485fb0e4a537d936003025_0.file.create.tpl.php
core/cache/mgr/smarty/default/f6ade24c0b4013fc8093113b3c75053d17be26a8_0.file.orders.tpl.php
core/cache/packages/mgr/providers/updates/1/ajaxform-1.1.7-pl.cache.php
core/cache/packages/mgr/providers/updates/1/bootstrap-1.0.28-pl.cache.php
core/cache/packages/mgr/providers/updates/1/metax-2.0.2-pl.cache.php
core/cache/packages/mgr/providers/updates/1/minishop2-2.2.0-pl2.cache.php
core/cache/phpthumb/
core/cache/registry/mgr/
core/cache/registry/state/ys/user-1/ext-gen1465-tree.msg.php
core/cache/registry/state/ys/user-1/ext-gen1661-tree.msg.php
core/cache/registry/state/ys/user-1/ext-gen2057-tree.msg.php
core/cache/registry/state/ys/user-1/mecitemext-gen1971.msg.php
core/cache/registry/state/ys/user-1/minishop2-categories-tree.msg.php
core/cache/registry/state/ys/user-1/minishop2-category-upd-tabpanel.msg.php
core/cache/registry/state/ys/user-1/minishop2-product-new-tabpanel.msg.php
core/cache/registry/state
/ys/user-1/minishop2-product-settings-panel.msg.php
core/cache/registry/state/ys/user-1/minishop2-product-upd-tabpanel.msg.php
core/cache/registry/state/ys/user-1/minishop2-settings-tabpanel.msg.php
core/cache/registry/state/ys/user-1/minishop2-tree-categories-panel.msg.php
core/cache/registry/state/ys/user-1/minishop2-tree-modal-categories-window-create.msg.php
core/cache/registry/state/ys/user-1/minishop2-tree-modal-categories-window-update.msg.php
core/cache/registry/state/ys/user-1/minishop2-window-option-create.msg.php
core/cache/registry/state/ys/user-1/modx-gr-tree-resource.msg.php
core/cache/registry/state/ys/user-1/modx-gr-tree-resourcegroup.msg.php
core/cache/registry/state/ys/user-1/modx-leftbar-tabs.msg.php
core/cache/registry/state/ys/user-1/modx-source-tabpanel.msg.php
core/cache/registry/state/ys/user-1/modx-usergroup-tabpanel.msg.php
core/cache/registry/state/ys/user-1/qcrext-gen162.msg.php
core/cache/registry/state/ys/user-1/source-tree-2.msg.php
core/cache/registry/state/ys/user-1/source-tree-3.msg.php
core/cache/registry/state/ys/user-2/
core/cache/resource/web/resources/1.cache.php
core/cache/resource/web/resources/1/
core/cache/resource/web/resources/8.cache.php
core/cache/resource/web/resources/8/
core/cache/scripts/elements/modplugin/12.cache.php
core/cache/scripts/elements/modplugin/6.cache.php
core/cache/scripts/elements/modsnippet/2.cache.php
core/cache/scripts/elements/modsnippet/40.cache.php
core/cache/scripts/elements/modsnippet/41.cache.php
core/cache/scripts/elements/modsnippet/42.cache.php
core/cache/scripts/elements/modsnippet/44.cache.php
core/cache/scripts/elements/modsnippet/45.cache.php
core/cache/scripts/elements/modsnippet/65.cache.php
core/cache/scripts/elements/modsnippet/66.cache.php
core/cache/scripts/elements/modsnippet/67.cache.php
core/components/ajaxform/
core/components/bootstrap/
core/components/breadcrumb/
core/components/collections/.DS_Store
core/components/collections/lexicon/.DS_Store
core/components/collections/processors/.DS_Store
core/components/collections/processors/mgr/.DS_Store
core/components/if/
core/components/minishop2/
core/components/tagelementplugin/
core/components/wayfinder/
core/export/
core/import/
core/packages/ajaxform-1.1.7-pl.transport.zip
core/packages/ajaxform-1.1.7-pl/
core/packages/bootstrap-1.0.28-pl.transport.zip
core/packages/bootstrap-1.0.28-pl/
core/packages/breadcrumb-1.4.3-pl/
core/packages/collections-3.6.0-pl/modCategory/50347ab1105d23a2ce4d6f032ee4c91d/1/collections/.DS_Store
core/packages/collections-3.6.0-pl/modCategory/50347ab1105d23a2ce4d6f032ee4c91d/1/collections/js/.DS_Store
core/packages/collections-3.6.0-pl/modCategory/50347ab1105d23a2ce4d6f032ee4c91d/1/collections/js/mgr/.DS_Store
core/packages/collections-3.6.0-pl/modCategory/50347ab1105d23a2ce4d6f032ee4c91d/1/collections/js/mgr/widgets/.DS_Store
core/packages/collections-3.6.0-pl/modCategory/50347ab1105d23a2ce4d6f032ee4c91d/2/collections/.DS_Store
core/packages/collections-3.6.0-pl/modCategory/50347ab1105d23a2ce4d6f032ee4c91d/2/collections/lexicon/.DS_Store
core/packages/collections-3.6.0-pl/modCategory/50347ab1105d23a2ce4d6f032ee4c91d/2/collections/processors/.DS_Store
core/packages/collections-3.6.0-pl/modCategory/50347ab1105d23a2ce4d6f032ee4c91d/2/collections/processors/mgr/.DS_Store
core/packages/if-1.1.1-pl/
core/packages/metax
-2.0.2-pl.transport.zip
core/packages/metax-2.0.2-pl/
core/packages/minishop2-2.2.0-pl2.transport.zip
core/packages/minishop2-2.2.0-pl2/
core/packages/phpthumbof-1.4.0-pl/modSnippet/5173e725a3f35fce0e244cbbdc6a5b38/1/phpthumbof/.DS_Store
core/packages/phpthumbof-1.4.0-pl/modSnippet/5173e725a3f35fce0e244cbbdc6a5b38/1/phpthumbof/cache/.DS_Store
core/packages/tagelementplugin-1.2.2-pl.transport.zip
core/packages/tagelementplugin-1.2.2-pl/
core/packages/wayfinder-2.3.3-pl.transport.zip
core/packages/wayfinder-2.3.3-pl/
